@page
@model AgendamentoPro.Pages.IndexModel

<div class="container-booking">
    <h1>Agende seu horário</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color: red; font-weight: bold;">
        @Model.ErrorMessage
    </p>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p style="color: green; font-weight: bold;">
        @Model.SuccessMessage
    </p>
}


    <form method="post" asp-page-handler="Create">
        <div class="mb-3">
            <label class="form-label">Serviço</label>
            <select asp-for="ServiceId" required>
                <option value="">Selecione um serviço</option>
                @foreach (var service in Model.Services)
                {
                    <option value="@service.Id">@service.Name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Data</label>
            <input type="date" asp-for="Date" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Hora</label>
            <input type="time" asp-for="Time" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Agendar Agora
        </button>
    </form>
</div>
